@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin:  0 auto;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
h6{
    color: #22C55E;

}
header a{
    background: #DCFCE7;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 36px;
    padding: 4px 12px;
    color: #22C55E;
    text-decoration: none;
}
p a{
    color: #22C55E;
}
.sect img{
    width: 100%;
}
.sect-content{
   padding: 10px 80px;
}
.sect-content{
    /* color: #556987; */
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.g-kiri{
    border-left: 1px solid green;
}
.g-kiri p{
    padding-left: 10px;
}
.g-kiri span{
    font-size: 18px;
}
footer{
    padding: 30px;
    text-align: center;
}
footer a{
    padding: 10px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(168, 165, 165, 0.418);
}
@media(max-width:768px){
    body{
        width: 90%;
    }   
    .sect-content{
        padding: 10px 30px;
     }
    
}